@font-face {
  font-family: Norse-Bold;
  src: url(assets/Norse-Bold.otf);
}

/* HTML STYLE RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End reset, begin styleseet: */

body{
  display: flex;
  justify-content: left;
  background: #F9FAFB;
}

#logo-photo-col{
  width: 40vw;
  height: 100vh;
  background: url("./assets/ferns.jpg") center/cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-container{
  background-color: rgb(0 0 0 / 50%);
  width: inherit;
  height: clamp(10vw, 15vh, 20vh);
  margin-bottom: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-photo-col p{
  font-family: 'Norse-Bold';
  font-size: clamp(5vw, 10vh, 15vh);
  padding-top: 4vh;
}

#logo-photo-col img{
  height: min(150px, 90%)
}

#main-content-col{
  width: 60rem;
  flex-wrap: wrap;
  flex: 200px;
  display: flex;
}

#call-to-action{
  margin-left: 3vw;
  margin-right: 10vw;
  font-weight: 550;
  line-height: 21px;
}

#my-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vw;
}

#form-inputs{
  background: white;
  border: black;
  box-shadow: 0px 10px 10px -10px gray;
  display: flex;
  flex-direction: column;
}

legend{
  margin: 3vh 0 0 3vw;
  font-weight: 550;
}

#form-columns{
  display: flex;

}

.form-column{
  color: #333C49;
  font-size: .7rem;
  display: flex;
  flex-direction: column;
  margin: 2vh 2vw 2vh 3vw;
}

label{
  margin: 1vh 0 ;
}

#fern-pic{
  width: 100%;
}

input{
  border-radius: 3px;
  width: 18vw;
  border: 1px solid #E5E7EB;
}

input:focus{
  outline: 1px solid rgba(6, 25, 235, 0.552);
  box-shadow: 2px 2px 2px 0px gray;
}


input:invalid:focus{
  outline: 1px solid rgba(6, 25, 235, 0.552);
}

label > p {
  color: rgb(207, 7, 7);
  margin-top: 1vw;
  font-size: smaller;
}

#button-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 3vw;
  gap: 3vh;
}

button{
  background-color: #596D48;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  box-shadow: 0px 10px 10px -10px gray;
}

#button-container a {
  color: #596D48;
  text-decoration: none;
}
